.lights {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid #aaa;
  width: 100px;
  padding: 10px;
}

.light {
  width: 50px;
  aspect-ratio: 1/1;
  border: 1px solid #aaa;
  border-radius: 50px;
  background-color: #ccc;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
